*{
    padding:0;
     margin:0;
     box-sizing:border-box;
     font-family: sans-serif;
  
  }
  body,html{
        
      width:100%;
      height:100;
      display:grid;
      place-items:center;
     
    
  }
  
  .navbar
  {
      width:100%;
      height:80px;
      background-color:skyblue;
      display:flex;
      align-items: center;
     
  }
  
  .navbar  .logo
  {
      position: relative;
      display:inline-block;
      vertical-align: middle;
      margin-top:0px;
      margin-left:0px;
  }
  .navbar  ul
  {
      margin-left:31%;
      margin-top:0px;
      position: relative;
  }
  
  .navbar  ul li{
      position:relative; 
     
      list-style:none;
     margin:0 20px;
      display:inline-block;
      
  }
  .navbar ul li a{
      text-transform: uppercase;
      
      color:#faf9f9;
      text-decoration:none;
  }
  @media screen and (min-width: 976px) 
  {
  #container 
  
  {
   
    width: 100%;
    align-content: center;
    background-color: #ece9f1;
    
    height: 700px;
  }
}
@media screen and (max-width: 576px) 
  {
  #container 
  
  {
   
    width: 60%;
    align-content: center;
    background-color: #ece9f1;
    
    height: 700px;
  }
}
@media screen and (min-width: 976px) 
  {
  .division1
{
   margin-top: 50px;
   margin-left: 80px;
  border: 2px solid #ccc;
  float: left;
  width: 300px;
  height: 500px;

  border-width: 1px;
  border-color: black;
  background-color: white;

}
  }
  @media screen and (max-width: 576px) 
  {
  .division1
{
   margin-top: 50px;
   margin-left: 80px;
  border: 2px solid #ccc;
  float: left;
  width: 200px;
  height: 500px;

  border-width: 1px;
  border-color: black;
  background-color: white;

}
  }
  @media screen and (min-width: 976px) 
  {
.division2
{
  margin-top: 50px;
margin-left: 80px;
  border: 2px solid #ccc;
  float: left;
  width: 300px;
  height: 500px;

  border-width: 1px;
  border-color: black;
  background-color: white;

}
  }
  @media screen and (max-width: 576px) 
  {
    .division2
{
  margin-top: 50px;
margin-left: 80px;
  border: 2px solid #ccc;
  float: left;
  width: 200px;
  height: 500px;

  border-width: 1px;
  border-color: black;
  background-color: white;

}
  }
  @media screen and (min-width: 976px) 
  {
.division3
{
  margin-top: 50px;
  margin-left: 80px;
  border: 2px solid #ccc;
  float: left;
  width: 300px;
  height: 500px;

  border-width: 1px;
  border-color: black;
  background-color: white;

}
  }

  @media screen and (max-width: 576px) 
  {
    .division3
    {
      margin-top: 50px;
      margin-left: 80px;
      border: 2px solid #ccc;
      float: left;
      width: 200px;
      height: 500px;
    
      border-width: 1px;
      border-color: black;
      background-color: white;
    
    }
      }
     
  
      @media screen and (min-width: 976px) 
      { 
.content-image
{
    width: 300px;
    height: 200px;
}
      }
      @media screen and (max-width: 576px) 
      { 
.content-image
{
    width: 200px;
    height: 200px;
}
      }
.content-paragraph
{  
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #111010;
    text-align: center;
}
.content-name
{
  text-align: center;
}
